<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BLOG</title>
    </head>
<body>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0" nonce="XxEYiaG5"></script>

<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0" nonce="4wwZyUEu"></script>
<h4>Zatar Chicken Sneakers</h4>
<img src="{% static 'MainApp/images/zatar.png' %}" height="150px" width="200px">
<h4>INGREDIENTS</h4>
1 ½ tablespoons za’atar seasoning chicken tenders 4 tablespoons, olive oil,2 cups packed spinach leaves ½ cup packed mint leaves
    ,1 clove garlic,1 teaspoon fresh lemon juice

<h4>STEPS</h4>
<p>
Step 1 Sprinkle za’atar seasoning over both sides of chicken tenders.
    Step 2 Broil or grill chicken for 7 minutes on each side or until no longer pink in center.
    Step 3 Place spinach, mint, jalapeño, garlic, lemon juice and bouillon in food processor; cover.
</p>
<div class="fb-comments" data-href="http://127.0.0.1:8000/about/" data-width="" data-numposts="5">
<div class="fb-like" data-href="http://127.0.0.1:8000/about/" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
</div>
</body>
</html>
